body{
    background: #6e3131;
    margin-left: 200px;
    margin-right: 200px;
}

header{
    margin-top: 50px;
}

h1{
    color: yellow;
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

p{
    font-size: 18px;
}

footer{
    margin-bottom: 300px;
}

.img_padrao{
    margin-bottom: 20px;
    width: 300px ;
}

.logo_padrao{
    width: 50px ;
}